<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Süskind</title>

    <link rel="shortcut icon" href="../static/img/logo/Süskind-title.png">
    <meta name='description' content='the website of perfume shop' />

    <meta property="og:title" content="Süskind" />
    <meta property="og:description" content="the website of perfume shop">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="Süskind" />
    <meta property="og:image" content="../static/img/main-banner.png" />

    <link href="../static/img/logo/Süskind.png" rel="apple-touch-icon" />

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <link rel="stylesheet" href="../static/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="../static/js/all.js"></script>
</head>
<body>
    <header class="position-relative">
        <div class="container">
            <nav class="d-flex justify-content-between align-items-center mb-40px mb-md-0">
                <h1 class="m-0"><a href="index.html" class="d-block">Süskind</a></h1>
                <ul class="header_menu d-none d-lg-flex justify-content-between m-0">
                    <li>
                        <a class="h5 d-flex align-items-center text-dark font-weight-light mb-0 p-3" href="product.html">
                            <i class="fas fa-tshirt mr-2"></i>
                            <p class="m-0">Product</p>
                        </a>
                    </li>
                    <li>
                        <a class="h5 d-flex align-items-center text-dark font-weight-light mb-0 p-3" href="member.html">
                            <i class="fas fa-user-alt mr-1"></i>
                            <p class="m-0">My Page</p>
                        </a>
                    </li>
                    <li>
                        <a class="h5 d-flex align-items-center text-dark font-weight-light mb-0 p-3" href="#">
                            <i class="fas fa-shopping-cart mr-2"></i>
                        </a>
                    </li>
                </ul>
                <div class="header-mobile d-flex d-lg-none align-items-center">
                    <a class="cart-m position-relative" href="#">
                        <img src="./../img/icon/shopping-cart.svg" alt="shopping-cart">
                        <p class="cart-mark rounded-circle bg-primary text-white">3</p>
                    </a>
                    <a class="ham" href="#"><img src="../img/icon/bars.svg" alt="ham"></a>
                </div>
            </nav>
        </div>
        <div class="container-fluid">
            <ul class="header_menu-m d-block d-lg-none w-100 p-0">
                <li><a href="product.html" class="d-block text-white px-0 py-3">Product</a></li>
                <li><a href="#" class="d-block text-white px-0 py-3">Wishlist</a></li>
                <li><a href="#" class="d-block text-white px-0 py-3">Blog</a></li>
                <li><a href="#" class="d-block text-white px-0 py-3">Contact</a></li>
                <li><a href="member.html" class="d-block text-white px-0 py-3">Mypage</a></li>
            </ul>
        </div>        
    </header>
    <!--Page Content Start-->
    <div class="product_category bg-primary d-none d-lg-flex mb-80px">
            <ul class="d-flex m-0 p-0">
                <li><a class="d-block text-white p-3 text-center">Welcome back!</a></li>
            </ul>
    </div>
    <div class="member_content">
        <div class="container">
            <div class="row flex-lg-row-reverse">
                <div class="col-12 col-lg-3 text-dark"></div>
                    <div class="col-12 col-lg-6 col-lg-7">
                        <h3 class="h6 border-dark border-bottom pb-2">Create a new product</h3>
                        <form class="text-dark mb-5" method="POST" action="/add_product">
                            <div class="form-group row">
                                <label for="inputName" class="col-4 col-md-3 col-form-label">Name</label>
                                <div class="col-7 col-md-8">
                                    <input type="text" class="form-control" id="inputName" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputName" class="col-4 col-md-3 col-form-label">Description</label>
                                <div class="col-7 col-md-8">
                                    <input type="text" class="form-control" id="inputName" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="selectGender"" class="col-4 col-md-3 col-md-3col-form-label">Ingredient 1</label>
                                <div class="col-3 col-md-2 col-lg-3">
                                    <select class="form-control text-dark" id="selectGender">
                                        <option>Jasmin</option>
                                        <option>Pink Pepper</option>
                                        <option>Patchouli</option>
                                        <option>Vanilla</option>
                                        <option>Lime</option>
                                        <option>Bergamot</option>
                                        <option>White Peach</option>
                                        <option>Magnolia</option>
                                        <option>Leather</option>
                                        <option>Ambergrey</option>
                                        <option>Black Pepper</option>
                                        <option>Cinnamon</option>
                                        <option>White Musk</option>
                                        <option>Ginger</option>
                                        <option>Spearmint</option>
                                        <option>Cedar</option>
                                    </select>
                                </div> 
                            </div>
                            <div class="form-group row">
                                <label for="selectGender"" class="col-4 col-md-3 col-md-3col-form-label">Ingredient 2</label>
                                <div class="col-3 col-md-2 col-lg-3">
                                    <select class="form-control text-dark" id="selectGender">
                                        <option>Jasmin</option>
                                        <option>Pink Pepper</option>
                                        <option>Patchouli</option>
                                        <option>Vanilla</option>
                                        <option>Lime</option>
                                        <option>Bergamot</option>
                                        <option>White Peach</option>
                                        <option>Magnolia</option>
                                        <option>Leather</option>
                                        <option>Ambergrey</option>
                                        <option>Black Pepper</option>
                                        <option>Cinnamon</option>
                                        <option>White Musk</option>
                                        <option>Ginger</option>
                                        <option>Spearmint</option>
                                        <option>Cedar</option>
                                    </select>
                                </div> 
                            </div>
                            <div class="form-group row">
                                <label for="inputName" class="col-4 col-md-3 col-form-label">Prix</label>
                                <div class="col-7 col-md-8">
                                    <input type="text" class="form-control" id="inputName" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                            <div class="offset-4 col-8 offset-md-3">
                                <button type="submit" class="btn btn-primary px-5">Create</button>
                            </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3 col-lg-2 d-none d-lg-block">
                        <h6 class="mb-4"><a href="create-product.html" class="text-dark border-primary border-bottom">Product Creation</a></h6>
                        <h6 class="mb-4"><a href="existing-products.html" class="text-dark">Existing Products</a></h6>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>