<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SÜSKIND</title>

    <link rel="shortcut icon" href="../static/img/logo/Süskind-title.png">
    <meta name='description' content='the website of perfume shop' />

    <meta property="og:title" content="D'Perfume" />
    <meta property="og:description" content="the website of perfume shop">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="D'Perfume" />
    <meta property="og:image" content="../static/img/main/main-banner.jpg" />

    <link href="../static/img/logo/Süskind.png" rel="apple-touch-icon" />

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <link rel="stylesheet" href="../static/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <script src="../static/js/jquery-3.5.1.min.static/js"></script>
    <script src="../static/js/all.js"></script>
</head>

<body>
    <header class="position-relative">
        <div class="container">
            <nav class="d-flex justify-content-between align-items-center mb-40px mb-md-0">
                <h1 class="m-0"><a href="/" class="d-block">    <img src="../static/img/logo/Süskind.png" alt="Süskind Logo"></a></h1>
                <ul class="header_menu d-none d-lg-flex justify-content-between m-0">
                    <li>
                        <a class="h5 d-flex align-items-center text-dark text-center font-weight-light mb-0 p-3"
                            href="product">
                            <i class="fas fa-tshirt mr-2"></i>
                            <p class="m-0">Product</p>
                        </a>
                    </li>
                    <li>
                        <a class="h5 d-flex align-items-center text-dark text-center font-weight-light mb-0 p-3" href="login">
                            <i class="fas fa-user-alt mr-1"></i>
                            <p class="m-0">Log in</p>
                        </a>
                    </li>
                    <li>
                        <a class="h5 d-flex align-items-center text-dark font-weight-light mb-0 p-3" href="#">
                            <i class="fas fa-shopping-cart mr-2"></i>
                        </a>
                    </li>
                    <!-- Cart Icon -->
                    <li class="cart-container">
                        <a class="cart-icon" id="cart-icon">
                            <span id="cart-count" class="cart-m-0 h5 d-flex align-items-center text-dark font-weight-light mb-0 p-3">0</span>
                        </a>
                    </li>
                </ul>
                <div class="header-mobile d-flex d-lg-none align-items-center">
                    <a class="cart-m position-relative" href="#">
                        <img src="../static/img/icon/shopping-cart.svg" alt="shopping-cart">
                        <p class="cart-mark rounded-circle bg-primary text-white">3</p>
                    </a>
                    <a class="ham" href="#"><img src="../static/img/icon/bars.svg" alt="ham"></a>
                </div>
            </nav>
        </div>
        <div class="container-fluid">
            <ul class="header_menu-m d-block d-lg-none w-100 p-0">
                <li><a href="product" class="d-block text-white px-0 py-3">Product</a></li>
                <li><a href="login" class="d-block text-white px-0 py-3">Log in</a></li>
            </ul>
        </div>
        </div>
    </header>
    <!--Page Content Start-->
    <div class="main_banner">
        <div class="container">
            <div class="row justify-content-center justify-content-lg-end">
                <div class="col-10 col-md-7 col-lg-5 text-white">
                    <h2 class="h1 font-weight-bold">Perfume your day</h2>
                    <p>A perfume is like a piece of clothing, a message, a way of presenting oneself a costume that
                        according to the person who wears it.</p>
                    <a href="product" class="btn btn-outline-white w-100">Shop now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main_content container mb-60px">
        <div class="row flex-column flex-md-row-reverse no-gutters">
            <div class="col-12 col-md-6 mb-2 mb-md-0">
                <img src="../static/img/main/Ruby.png" alt="RUBY">
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center mb-4 mb-md-0">
                <div class="main_content-inner">
                    <h3 class="h2 font-weight-bold">RUBY</h3>
                    <p class="h5 font-weight-light">A new olfactory experience, floral and bright. The combination of jasmine, ylang ylang, orange blossom and the most enchanting floral notes of Grasse tuberose, reveals a dreamy floral scent.
                        An ultra-feminine fragrance for the radiant Chanel Gabrielle.</p>
                </div>
            </div>
        </div>
        <div class="row flex-column flex-md-row">
            <div class="col-12 col-md-6 mb-2 mb-md-0 p-0">
                <img src="../static/img/main/Sapphire.png" alt="SAPPHIRE">
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center mb-4 mb-md-0">
                <div class="main_content-inner">
                    <h3 class="h2 font-weight-bold">SAPPHIRE</h3>
                    <p class="h5 font-weight-light">
                        Ginger is blended with cinnamon and brown sugar to create a warm, slightly pungent aroma, which in turn creates a light smoke, with a slightly smoky sensation that permeates the nostrils, and a mild woody aroma that is gentle and warming when smelled.</p>
                </div>
            </div>
        </div>
        <div class="row flex-column flex-md-row-reverse">
            <div class="col-12 col-md-6 mb-2 mb-md-0 p-0">
                <img src="../static/img/main/Emerald.png" alt="EMERALD">
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center mb-4 mb-md-0">
                <div class="main_content-inner">
                    <h3 class="h2 font-weight-bold">EMERALD</h3>
                    <p class="h5 font-weight-light">N°5，The ultimate essence of femininity. A soft, clarifying bouquet of acetaldehyde. A classic and legendary fragrance in a unique bottle with a minimalist design.</p>
                </div>
            </div>
        </div>
        <div class="row flex-column flex-md-row">
            <div class="col-12 col-md-6 mb-2 mb-md-0 p-0">
                <img src="../static/img/main/Opal.png" alt="OPAL">
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center mb-4 mb-md-0">
                <div class="main_content-inner">
                    <h3 class="h2 font-weight-bold">OPAL</h3>
                    <p class="h5 font-weight-light">
                        Ginger is blended with cinnamon and brown sugar to create a warm, slightly pungent aroma, which in turn creates a light smoke, with a slightly smoky sensation that permeates the nostrils, and a mild woody aroma that is gentle and warming when smelled.</p>
                </div>
            </div>
        </div>
        <div class="row flex-column flex-md-row-reverse no-gutters">
            <div class="col-12 col-md-6 mb-2 mb-md-0">
                <img src="../static/img/main/Earth.png" alt="EARTH">
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center mb-4 mb-md-0">
                <div class="main_content-inner">
                    <h3 class="h2 font-weight-bold">EARTH</h3>
                    <p class="h5 font-weight-light">A new olfactory experience, floral and bright. The combination of jasmine, ylang ylang, orange blossom and the most enchanting floral notes of Grasse tuberose, reveals a dreamy floral scent.
                        An ultra-feminine fragrance for the radiant Chanel Gabrielle.</p>
                </div>
            </div>
        </div>
        <div class="row flex-column flex-md-row">
            <div class="col-12 col-md-6 mb-2 mb-md-0 p-0">
                <img src="../static/img/main/Fire.png" alt="FIRE">
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center mb-4 mb-md-0">
                <div class="main_content-inner">
                    <h3 class="h2 font-weight-bold">FIRE</h3>
                    <p class="h5 font-weight-light">
                        Ginger is blended with cinnamon and brown sugar to create a warm, slightly pungent aroma, which in turn creates a light smoke, with a slightly smoky sensation that permeates the nostrils, and a mild woody aroma that is gentle and warming when smelled.</p>
                </div>
            </div>
        </div>
        <div class="row flex-column flex-md-row-reverse">
            <div class="col-12 col-md-6 mb-2 mb-md-0 p-0">
                <img src="../static/img/main/Air.png" alt="AIR">
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center mb-4 mb-md-0">
                <div class="main_content-inner">
                    <h3 class="h2 font-weight-bold">AIR</h3>
                    <p class="h5 font-weight-light">N°5，The ultimate essence of femininity. A soft, clarifying bouquet of acetaldehyde. A classic and legendary fragrance in a unique bottle with a minimalist design.</p>
                </div>
            </div>
        </div>
        <div class="row flex-column flex-md-row">
            <div class="col-12 col-md-6 mb-2 mb-md-0 p-0">
                <img src="../static/img/main/Water.png" alt="WATER">
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center mb-4 mb-md-0">
                <div class="main_content-inner">
                    <h3 class="h2 font-weight-bold">WATER</h3>
                    <p class="h5 font-weight-light">
                        Ginger is blended with cinnamon and brown sugar to create a warm, slightly pungent aroma, which in turn creates a light smoke, with a slightly smoky sensation that permeates the nostrils, and a mild woody aroma that is gentle and warming when smelled.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="main_product pb-0 bg-light">
        <div class="container">
            <h1 class="h2 font-weight-bold text-center">BEST SELLER</h1>
            <br></br>
            <ul class="row list-unstyled">
                <li class="col-12 col-md-4">
                    <div class="card border-0">
                        <img class="card-img-top d-none d-md-block" src="../static/img/main/main-product-1.png"
                            alt="RUBY">
                        <img class="d-block d-md-none" src="../static/img/main/main-product-m-1.png" alt="RUBY">
                        <div class="card-body bg-light pl-0">
                            <h5 class="h4">RUBY</h5>
                            <p class="card-text font-weight-light">Women</p>
                            <p class="font-weight-light">$75</p>
                        </div>
                    </div>
                </li>
                <li class="col-12 col-md-4">
                    <div class="card border-0">
                        <img class="card-img-top d-none d-md-block" src="../static/img/main/main-product-5.png" alt="Body Wash">
                        <img class="d-block d-md-none" src="../static/img/main/main-product-m-5.png" alt="Body Wash">
                        <div class="card-body bg-light pl-0">
                            <h5 class="h4">EARTH</h5>
                            <p class="card-text font-weight-light">Men</p>
                            <p class="font-weight-light">$75</p>
                        </div>
                    </div>
                </li>
                <li class="col-12 col-md-4">
                    <div class="card position-relative border-0">
                        <img class="card-img-top d-none d-md-block" src="../static/img/main/main-product-4.png"
                            alt="Apple Cider Vinegar Capsule">
                        <img class="d-block d-md-none" src="../static/img/main/main-product-m-4.png"
                            alt="Apple Cider Vinegar Capsule">
                        <div class="card-body bg-light pl-0">
                            <h5 class="h4">OPAL</h5>
                            <p class="card-text font-weight-light">Women</p>
                            <p class="font-weight-light">$75</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="main_feature">
        <div class="container">
            <div class="row flex-column flex-lg-row">
                <div class="col-12 col-lg-8 mb-2 mb-lg-0">
                    <img class="d-none d-md-block" src="../static/img/main/main-feature.png" alt="Bottle-Recycling">
                    <img class="d-block d-md-none" src="../static/img/main/main-feature-m.png" alt="Bottle-Recycling">
                </div>
                <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center">
                    <div class="main_content-inner w-100">
                        <h3 class="h2 font-weight-bold">Bottle-Recycling</h3>
                        <p class="h5 font-weight-light">Recycle your used empty bottles and be rewarded!<br>
                            <span class="d-block pt-3">For the past 10 years, we have collected over 800,000 bottles
                                through Empty Bottle Recycling Campaign and planted more than 860 pine trees for a
                                better environment.For the past 10 years, we have collected over 800,000 bottles through
                                Empty Bottle Recycling Campaign and planted more than 860 pine trees for a better
                                environment.</span>
                        </p>
                        <a href="#">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of page content-->
    <footer>
        <div class="footer_menu bg-primary">
            <div class="container">
                <div class="footer_menu_inner d-flex justify-content-between align-items-center">
                    <div class="copyright d-flex align-items-center">
                        <img src="../static/img/logo/Süskind-white.png" alt="logo">
                        <p class="text-white m-0">© 2024. All Rights Reserved.</p>
                    </div>
                    <nav class="d-none d-lg-block">
                        <ul class="d-flex m-0">
                            <li><a href="product" class="text-white">Product</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>